<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
     <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="game">
    <div class="container" :style="'width:' + size*100 + 'px;height:' + size*100 + 'px;'">
        <template v-for="(n, index) in arr">
            <div class="mine" :key="index" @click="sweep(index)">
                <template v-if="n == 0">
                    <p class="initial case"></p>
                </template>
                <template v-else-if="n == 1">
                    <p class="swept case">{{ arrInfo[index] }}</p>
                </template>
                <template v-else-if="n == 2">
                    <p class="mine-hid case"></p>
                </template>
                <template v-else>
                    <p class="mine-explosive case"></p>
                </template>
            </div>
        </template>
    </div>
</div>
</body>
</html>

<style>
    .container {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-between;
    }
    .mine {
        color:black;
        width:90px;
        height:90px;
        text-align:center;
    }
    .initial, .mine-hid {
        background-color:rgb(229, 229, 229);
    }
    .swept {
        background-color:#CCFFCC;
    }
    .mine-explosive {
        background-color:red;
    }
    .case {
        height:100%;
        margin-top:0;
        border-radius:4px;
        box-shadow:0 0 5px 2px rgb(250, 250, 250);
        transition: 0.4s;
        color:rgb(200, 200, 200);
        font-size:2em;
    }
    .case:hover {
        transition: 0.4s;
        box-shadow:inset 0 0 5px 2px rgb(250, 250, 250);
    }
</style>

<script>
    var vm = new Vue({
        el:'#game',
        data: {
            size: 5,
            numsBlock: '',
            arr: [],
            numsMine: 3,
            arrMines: [],
            arrInfo: [],
        },
        mounted: function(){
            /* initiate the box */
            this.numsBlock = this.size*this.size;
            console.log(this.numsBlock);
            for(i=0;i<this.numsBlock;i++) {
                this.arr.push(0);
                this.arrInfo.push(0);
            }
            console.log(this.arr.length);
            /* put some mines */
            var indexMine;
            for(i=0;i<this.numsMine;i++) {
                indexMine = Math.floor(Math.random()*this.numsBlock);
                this.$set(this.arr, indexMine, 2);
            }
        },
        methods: {
            sweep(index) {
                if(this.arr[index] === 2) {
                    this.$set(this.arr, index, 4);
                    this.$alert('886', 'massage', {
                        confirmButtonText: 'confirm',
                        callback: action => {
                            location.reload();
                        }
                    });
                } else {
                    this.$set(this.arr, index, 1);
                }
                this.arrInfo[index] = this.countAround(index);
                console.log(this.arr[index]);
                console.log("mines = " + this.countAround(index));
            },
            countAround(index) {
                var numsMineAro = 0;
/* corner */
                if(index === 0){
                    if(this.arr[index+1] === 2){
                        numsMineAro++;
                    }
                    if(this.arr[index+this.size] === 2){
                        numsMineAro++;
                    }
                    if(this.arr[index+this.size+1] === 2){
                        numsMineAro++;
                    }
                    return numsMineAro;
                } else if(index === 0+this.size-1) {
                    if(this.arr[index-1] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index+this.size] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index+this.size-1] === 2) {
                        numsMineAro++;
                    }
                    return numsMineAro;
                } else if(index === this.numsBlock-1) {
                    if(this.arr[index-this.size] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index-this.size-1] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index-1] === 2) {
                        numsMineAro++;
                    }
                    return numsMineAro;
                } else if(index === this.numsBlock-this.size) {
                    if(this.arr[index-this.size] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index-this.size+1]){
                        numsMineAro++;
                    }
                    if(this.arr[index+1] === 2){
                        numsMineAro++;
                    }
                    return numsMineAro;
                }
/* top side */
                if(index > 0 && index < this.size-1) {
                    if(this.arr[index+this.size] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index-1] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index+1] === 2) {
                        numsMineAro++;
                    }
                    return numsMineAro;
                }
/* bottom side */
                if(index < this.numsBlock-1 && index > this.numsBlock-this.size) {
                    if(this.arr[index-this.size] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index-1] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index+1] === 2) {
                        numsMineAro++;
                    }
                    return numsMineAro;
                }
/* left side */
                if(index%this.size === 0) {
                    if(this.arr[index+1] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index-this.size] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index+this.size] === 2) {
                        numsMineAro++;
                    }
                    return numsMineAro;
                }
/* right side */
                if(index%this.size === this.size-1) {
                    if(this.arr[index-1] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index-this.size] === 2) {
                        numsMineAro++;
                    }
                    if(this.arr[index+this.size] === 2) {
                        numsMineAro++;
                    }
                    return numsMineAro;
                }
/* center */
                for(i=index-this.size-1;i<index-this.size+2;i++){
                    if(this.arr[i] === 2){
                        numsMineAro++;
                    }
                }
                for(i=index+this.size-1;i<index+this.size+2;i++){
                    if(this.arr[i] === 2){
                        numsMineAro++;
                    }
                }
                if(this.arr[index-1] === 2){
                    numsMineAro++;
                }
                if(this.arr[index+1] === 2){
                    numsMineAro++;
                }
                return numsMineAro;
            },
        },
    })
</script>

<!--
0: initial
1: swept
2: mine hid
3: mine explosive
-->